// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#app {
	.navbar {
		margin-bottom: 0;
		.navbar-header {

		}
		.navbar-collapse {
			.navbar-right {
				figure {
					border-radius: 50%; 
					@extend .bg-center;
					width: 40px;
				    display: inline-block;
				    vertical-align: middle;
				    margin: 0 10px;
				}
			}
		}
	}
	&>.container {
		padding-top: 25px;
		&#perfil {
			figure {
			    position: relative;
				border-radius: 50%; 
				@extend .bg-center;
				.cambiar {
					cursor: pointer;
					opacity: 0;
				    display: block;
				    text-align: center;
				    background: rgba(0,0,0,0.4);
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    color: white;
				    padding-top: 45%;
				    border-radius: 100%;
				    transition: all 0.5s;
				}
				&:hover {
					.cambiar {
						opacity: 1;
					}
				}
			}
		}
	}
}
.bg-center {
	background-size: cover; 
	background-position: center center; 
}
.dummy {
	display: block; 
	padding-top: 100%;
}